// Colores
$enable-gradients: true;
$green: #28a745;
$progress-bar--color: #28a745;
$acento--verde-claro: #38d39f;

// Fuentes
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
